<a href="https://colab.research.google.com/github/tsangrebecca/sprint_10/blob/main/mongodb_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pipinstall pymongo

/bin/bash: line 1: pipinstall: command not found

In [4]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.2/677.2 kB 13.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 29.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.2

In [5]:
!pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.10/dist-packages (2.6.1)

In [6]:
import pymongo
DBNAME = 'test'
PASSWORD = 'npa1hI0AhHpeXI3x'
# if forgot password, go to mongoDB website, click Database Access tab, click EDIT, click Edit Password to generate a new password

# go to Database > Connect > Connect your application > Python 3.6 > copy the URL
# edit the URL <password> part and the part after /
client = pymongo.MongoClient(f'mongodb+srv://tsangyrebecca:{PASSWORD}@cluster0.ocpi5a7.mongodb.net/{DBNAME}?retryWrites=true&w=majority&appName=Cluster0')

In [7]:
# our database object with "test" being the database name
# database is also called a cluster
db = client.test

In [ ]:
dir(db)

In [9]:
db.test # is a collection within a database; also called test. There's a test database and a test collection now.

Collection(Database(MongoClient(host=['ac-p0eyaok-shard-00-00.ocpi5a7.mongodb.net:27017', 'ac-p0eyaok-shard-00-01.ocpi5a7.mongodb.net:27017', 'ac-p0eyaok-shard-00-02.ocpi5a7.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-6tmrdr-shard-0', tls=True), 'test'), 'test')

In [ ]:
dir(db.test) # to see what's available to us in the collection

In [11]:
help(db.test.insert_one) # help command will give us the doc string aka documentation of mongoDB

Help on method insert_one in module pymongo.collection:

insert_one(document: 'Union[_DocumentType, RawBSONDocument]', bypass_document_validation: 'bool' = False, session: 'Optional[ClientSession]' = None, comment: 'Optional[Any]' = None) -> 'InsertOneResult' method of pymongo.collection.Collection instance
    Insert a single document.

      >>> db.test.count_documents({'x': 1})
      0
      >>> result = db.test.insert_one({'x': 1})
      >>> result.inserted_id
      ObjectId('54f112defba522406c9cc208')
      >>> db.test.find_one({'x': 1})
      {'x': 1, '_id': ObjectId('54f112defba522406c9cc208')}

    :Parameters:
      - `document`: The document to insert. Must be a mutable mapping
        type. If the document does not have an _id field one will be
        added automatically.
      - `bypass_document_validation`: (optional) If ``True``, allows the
        write to opt-out of document level validation. Default is
        ``False``.
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.
      - `comment` (optional): A user-provided comment to attach to this
        command.

    :Returns:
      - An instance of :class:`~pymongo.results.InsertOneResult`.

    .. seealso:: :ref:`writes-and-ids`

    .. note:: `bypass_document_validation` requires server version
      **>= 3.2**

    .. versionchanged:: 4.1
       Added ``comment`` parameter.

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.2
      Added bypass_document_validation support

    .. versionadded:: 3.0

In [12]:
# use this line to check how many documents are in the database
db.test.count_documents({'x': 1})

0

In [14]:
# use this line to insert a row in the database
result = db.test.insert_one({'x': 1})

In [15]:
db.test.count_documents({'x': 1})

1

In [16]:
# now we count again there is 1 after the insert_one command, so let's check our mongoDB database and see what's on there.
# Go to Database, click Collections tab, click Refresh button on the top right corner

In [17]:
# make a ryan document
ryan = {
    'name': 'Ryan',
    'fav_food': 'tacos',
    'lucky_num': 6
}

In [18]:
result = db.test.insert_one(ryan)

In [19]:
# if you change it to another collection, the new collection will be created and ryan entry will be inserted to that collection
result = db.people.insert_one(ryan)

In [ ]:
# the thing that starts with _id is the object ID

NoSQL is also called JSON data, stands for Java Script Object Notation. Object in JS is equivalent to dictionary in Python, and to call it Document is a neutral way to refer to key-value pairs regardless of what language we use

NoSQL has no schema, the type of data e.g. integer, boolean, etc. are not defined, unlike SQL

In [ ]:
# A collection is like a table within a database
# so far we have a test collection and a people collection

In [21]:
result = db.animals.insert_one({'name': 'fido',
                               'type': 'dog'})

No schema is enforced, so as data scientists we have to be careful what we enter to keep the data clean.

In Java Script, there's a module called mongoose, has to go through mongoose before sending data to mongoDB to enforce the schema.

In [24]:
# we aren't even limited to key-value pairs!
# let's have access to the name 'fido' by calling the key 'name'
db.animals.find_one({'name':'fido'}) # remember document is a dictionary

{'_id': ObjectId('65e8232068cdc0b01d4444ae'), 'name': 'fido', 'type': 'dog'}

In [25]:
document = db.animals.find_one({'name':'fido'})
document['name']

'fido'

In [26]:
# find the identifier of 'fido'
document['_id']

ObjectId('65e8232068cdc0b01d4444ae')

In [28]:
result = db.people.insert_one({'name': 'Sally',
                               'pets': [document['_id']]}) # inserted an array as pets of Sally
# so now we have an objectID from another collection in this collection

In [29]:
# look back at dir(db.test)
db.person.delete_one({'name':'Sally'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000f8'), 'opTime': {'ts': Timestamp(1709713415, 16), 't': 248}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1709713415, 16), 'signature': {'hash': b'\xc8D4\x91\xb5\xccN\x02i\xa7\xd9\xb2\xee\x83\x1e\xc9\x7f\xe5\xdcx', 'keyId': 7299229475680550922}}, 'operationTime': Timestamp(1709713415, 16)}, acknowledged=True)

In [30]:
# we can store any type of data and keep nesting and nesting however we like it!
# it'll show as a drop-down list on mongoDB
result = db.test.insert_one({'x': 1,
                             'x_1':{'x':1},
                             'x_2':{'x_1':{'x':1}},
                            'fav_documents':[{'x':1}, {'x':1}, {'x':1}]
                            })
# x_1 holds an x, x_2 holds an x_1 which holds an x, each pair of curly braces is one layer

In [31]:
# creating 5 rows of x:1 of 5 different object IDs
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})
result = db.test.insert_one({'x': 1})

In [33]:
# how to query this when there are multiples?
result = db.test.find({'x':1})

In [34]:
# it's a cursor object?
list(result) # will list all the documents that contain the key-value pair x:1 inside of them, pretty much everything in the test collection

[{'_id': ObjectId('65e81e5c68cdc0b01d4444ac'), 'x': 1},
 {'_id': ObjectId('65e82aae68cdc0b01d4444b1'),
  'x': 1,
  'x_1': {'x': 1},
  'x_2': {'x_1': {'x': 1}},
  'fav_documents': [{'x': 1}, {'x': 1}, {'x': 1}]},
 {'_id': ObjectId('65e82bb168cdc0b01d4444b2'), 'x': 1},
 {'_id': ObjectId('65e82bb168cdc0b01d4444b3'), 'x': 1},
 {'_id': ObjectId('65e82bb168cdc0b01d4444b4'), 'x': 1},
 {'_id': ObjectId('65e82bb168cdc0b01d4444b5'), 'x': 1},
 {'_id': ObjectId('65e82bb168cdc0b01d4444b6'), 'x': 1}]